@width: 1920px;


.container {
    margin: 0 auto;
}

.main-header {
   width: @width;
   background-image: url(../img/photo-head.png);
}

.content {
  width: @width;
    
}

.main-footer {
    width: @width;
    
}